<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% from 'bootstrap5/nav.html' import render_nav_item %}
    {% from 'bootstrap5/utils.html' import render_messages %}

    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
    {% endblock %}

    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/elementary-school-flat-education-is-growth/512/Graduation-512.png">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>University</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">University system</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('add_new_group', 'Add group') }}
                {{ render_nav_item('add_student_to_group', 'Add student') }}
                {% if current_user.is_authenticated %}
                    {{ render_nav_item('logout', 'Sign Out') }}
                {% else %}
                    {{ render_nav_item('signup', 'Sign Up') }}
                    {{ render_nav_item('login', 'Sign In') }}
                {% endif %}
            </div>
        </div>
    </nav>
    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}

    {{ render_messages() }}

    {% block content %}{% endblock %}
</body>
</html>