{% extends 'base.html' %}

{% block content %}
<br>
<h2 align="center">Group "{{ group_name }}"</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            {% for index, student in enumerate(group, 1) %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    <td>{{ student.surname}} {{ student.name }}</td>
                    <td>{{ student.age}}</td>
                    <td>{{ student.address}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}