{% extends 'base.html' %}

{% block content %}
    <div class="btn-group dropdown">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            All groups
        </button>
        <ul class="dropdown-menu">
            {% for group in all_groups %}
                <li><a class="dropdown-item" href="/group_list/{{ group }}">{{ group }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <form class="form-group row" style="text-align: center;display: block; width: 50%;margin: 0 auto;" action="/group" method="post"><br>
        <div class="form-group">
            <div class="fs-4 mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
              </svg>
              <label for="group-name" class="form-label">New Group</label>
            </div>
            <input name="group_name" type="text" class="form-control w-30" id="group-name" placeholder="Name of your group">
        </div>
        <br>
        <input class="btn btn-warning w-25" type="submit" value="CREATE GROUP">
    </form>

{% endblock %}