{% extends 'base.html' %}

{% block content %}
  <div class="card text-bg-secondary" style="width: 34rem;margin: 0 auto;">
    <img src="https://img.freepik.com/vector-premium/edificio-universidad-ciudad_101087-175.jpg?w=826" class="card-img-top">
    <h1 class="card-header" style="font-size: 50px;text-align: center;">University system</h1>
    <p class="card-text" style="font-size: 30px;">Easy working with students and their teachers</p>
    <a style="position: relative;left: 440px;" class="btn btn-success w-25" href="{{ url_for('add_new_group') }}" type="button">Get started</a>
  </div>
{% endblock %}